/* ------------------General styles------------------*/

body {
  min-width: 1200px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color_1: rgba(255, 255, 255, 1);
  --color_2: rgba(255, 255, 255, 0.6);
  --color_3: rgba(24, 207, 171, 1);
  --color_4: rgba(0, 203, 246, 1);
  --color_5: rgba(216, 216, 216, 1);
  --color_6: rgba(78, 78, 78, 1);
  --color_7: rgba(113, 113, 113, 1);
  --color_8: rgba(248, 252, 254, 1);
  --color_9: rgba(237, 239, 239, 1);
  --color_10: rgba(119, 119, 119, 1);
  --color_11: rgba(233, 237, 239, 1);
  --color_12: rgba(32, 62, 56, 1);
  --color_13: rgba(174, 174, 174, 1);
  --color_14: rgba(34, 53, 63, 1);
  --color_15: rgba(94, 93, 88, 0.6);
  --color_16: rgba(242, 244, 245, 1);
  --color_17: rgba(28, 42, 51, 1);
  --color_18: rgba(218, 218, 218, 1);
  --color_19: rgba(0, 0, 0, 0);
  --color_20: rgba(138, 138, 138, 1);
  --color_21: rgba(187, 187, 187, 1);
  --color_22: rgba(24, 207, 171, 0.29);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.span-color {
  color: var(--color_3);
}

.section-title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 84px;
  margin-bottom: 26px;
  color: var(--color_6);
}

.title-underline {
  margin: 0 auto;
  width: 80px;
  height: 4px;
  border-top: 1px solid var(--color_3);
  border-bottom: 1px solid var(--color_3);
  transform: skewX(75deg);
  margin-bottom: 66px;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color_1);
  background-color: var(--color_3);
  box-shadow: 0 -4px 0 var(--color_1);
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  min-width: 168px;
}

/* ------------------Header------------------*/

.header {
  background-image: url(../img/sections-background/section-1\(header\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 8px;
  text-align: center;
}

.nav-cover {
  background-color: var(--color_15);
  height: 120px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.logo {
  font-weight: 700;
  font-size: 40px;
  color: var(--color_1);
  padding: 34px 0px 0px 13px;
  position: relative;
  z-index: 1;
}

.logo::after {
  content: "" url(../img/logos-symbols/Polygon.png);
  position: absolute;
  z-index: -1;
  left: 0.5px;
  bottom: -19px;
}

.logo-text {
  padding: 38px 0px 0px 20px;
  font-size: 32px;
  color: var(--color_1);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  margin-top: 46px;
  box-sizing: border-box;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--color_2);
  margin-right: 21px;
  padding-bottom: 45px;
}

.nav-item:hover {
  color: var(--color_3);
  border-bottom: 2px solid var(--color_3);
}

.search {
  font-size: 20px;
  color: var(--color_2);
}

.search:hover {
  color: var(--color_3);
  cursor: pointer;
}

.header-greeting {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  padding: 264px 0 243px;
  color: var(--color_1);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.ham-statement {
  font-size: 35px;
}

.we-statement {
  font-size: 78px;
  margin: 22px 0 22px 0;
}

.just-buy-statement {
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--color_2);
}

.header-buttons-container {
  margin-top: 129px;
}

.explore-button {
  margin-right: 26px;
  padding: 16px 18px;
}

.purchase-button {
  padding: 16px 14px;
  background-color: var(--color_4);
}

/* ------------------Section "Promo"------------------*/

.promo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 377px;
  text-align: center;
}

.promo-item1,
.promo-item3 {
  background-color: var(--color_17);
  position: relative;
}

.promo-item2,
.promo-item4 {
  background-color: var(--color_3);
  position: relative;
}

.promo-logos {
  display: block;
  margin: 0 auto;
}

.promo-logos1,
.promo-logos3 {
  margin-top: 85px;
}

.promo-logos2,
.promo-logos4 {
  margin-top: 95px;
}

.promo-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  color: var(--color_3);
  bottom: 110px;
  left: 0px;
  right: 0px;
}

.promo-text-other {
  color: var(--color_1);
}

/* ------------------Section "Our Services"------------------*/

.our-services-section {
  background-color: var(--color_1);
  margin-bottom: 91px;
}

.tabs {
  display: flex;
  margin: 69px 0px 23px;
  box-sizing: border-box;
}

.tabs-item {
  min-width: 193px;
  text-align: center;
  padding: 26px 0;
  color: var(--color_7);
  background-color: var(--color_8);
  border: 1px solid var(--color_9);
  font-size: 16px;
}

.tabs-item:hover {
  border: 1px solid var(--color_3);
  cursor: pointer;
}

.tabs-item.active-service {
  color: var(--color_1);
  background-color: var(--color_3);
  border: 1px solid var(--color_3);
  position: relative;
}

.tabs-item.active-service:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 86px;
  border: 10px solid;
  border-top: 10px solid var(--color_3);
}

.tabs-content-item {
  display: none;
}

.tabs-content-item.active-content {
  display: flex;
}

.tabs-image {
  width: 193px;
  height: 140px;
  padding-right: 15px;
}

.tabs-text {
  color: var(--color_10);
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

/* ------------------Section "Everything is Ready"------------------*/

.everything-is-ready-section {
  background-image: url(../img/sections-background/section-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

.everything-is-ready-title {
  text-transform: uppercase;
  font-size: 40px;
  padding: 127px 0px 12px;
  color: var(--color_3);
}

.everything-is-ready-subtitle {
  color: var(--color_5);
  padding-bottom: 67px;
}

.everything-is-ready-button {
  display: inline-block;
  padding: 16px 0px;
  margin-bottom: 127px;
}

/* ------------------Section "Our amazing work"------------------*/

.our-amazing-work-section {
  background-color: var(--color_11);
  padding-bottom: 99px;
}

.work-tabs {
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
}

.work-tabs-item {
  padding: 14px 15px;
  color: var(--color_7);
  background-color: var(--color_19);
  border: 1px solid var(--color_18);
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
}

.active-work-tab {
  color: var(--color_3);
  border: 2px solid var(--color_3);
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: 71px;
  margin-bottom: 70px;
  min-height: 200px;
}

.work-example-card {
  position: relative;
  cursor: pointer;
}

.work-card-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  position: absolute;
  background-color: var(--color_1);
  opacity: 0;
}

.work-example-card:hover .work-card-wrapper {
  opacity: 1;
  transition: 0.3s;
}

.work-example-image {
  width: 100%;
  height: 100%;
}

.icon-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.empty-cirle {
  position: relative;
  margin-right: 4px;
}

.fill-cirle {
  position: relative;
}

.circle {
  font-size: 40px;
  color: var(--color_3);
}

.chain {
  position: absolute;
  left: 14px;
  bottom: 16px;
}

.square {
  position: absolute;
  left: 15px;
  bottom: 18px;
}

.work-card-title {
  font-weight: 700;
  font-size: 14px;
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--color_3);
}

.work-card-category {
  font-weight: 300;
  font-size: 12px;
  text-transform: capitalize;
  color: var(--color_20);
  margin-top: 10px;
}

.work-example-card.hidden {
  display: none;
}

.work-example-card.active-card {
  display: block;
}

.our-work-button {
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  box-shadow: none;
  padding: 16px 2px 16px 36px;
  font-weight: 14px;
  margin: 0 auto;
}

.our-work-button::before {
  content: "" url(../img/logos-symbols/plus.png);
  left: 23px;
  bottom: 16px;
  position: absolute;
}

/* ------------------Section "Breaking News"------------------*/

.breaking-news-section {
  background-color: var(--color_1);
  padding-bottom: 128px;
}

.news-block {
  margin-top: 69px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  grid-column-gap: 35px;
  grid-row-gap: 44px;
}

.card-block {
  text-decoration: none;
  position: relative;
  background-color: var(--color_8);
  border: 1px solid var(--color_16);
}

.date {
  background-color: var(--color_12);
  color: var(--color_1);
  position: absolute;
  width: 70px;
  height: 68px;
  box-sizing: border-box;
  right: 0px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date > span {
  padding-top: 12px;
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 15px;
  line-height: 39px;
  color: var(--color_7);
}

.card-info {
  font-weight: 300;
  font-size: 14px;
  padding: 2px 0px 10px 19px;
  color: var(--color_10);
}

.card-info > span::after {
  content: "|";
}

.card-block:hover .card-name {
  color: var(--color_3);
  transition: 0.3s;
}

.card-block:hover .date {
  background-color: var(--color_3);
  transition: 0.3s;
}

/* ------------------Section "What people say"------------------*/

.what-people-say {
  background-image: url(../img/sections-background/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 93px;
}

.what-people-say-title {
  color: var(--color_1);
}

.quotes {
  color: var(--color_3);
  font-size: 32px;
}

.reviews {
  margin: 36px 0px 10px;
  min-height: 400px;
  position: relative;
}

.review-item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.review-item.active-review {
  opacity: 1;
  transition: 1.5s;
}

.review-item-text {
  font-weight: 300;
  font-size: 16px;
  color: var(--color_21);
  line-height: 30px;
  margin-bottom: 17px;
  min-height: 80px;
}

.review-item-autor {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: var(--color_3);
  margin-bottom: 20px;
}

.review-item-autor-profession {
  font-weight: 300;
  font-size: 13px;
  color: var(--color_21);
  margin-bottom: 38px;
}

.reviewer-photo {
  display: block;
  margin: 0 auto;
  height: 145px;
  width: 145px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px var(--color_22);
  overflow: hidden;
}

.reviewers-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 540px;
  align-items: center;
  margin: 0 auto;
  padding-top: 25px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-photo {
  display: flex;
  height: 61px;
  width: 61px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--color_22);
  cursor: pointer;
  margin: 0px 20px 0px 20px;
}

.slider-photo.active-slider-photo {
  transform: translate3d(0px, -20px, 0px);
  transition: transform 0.5s ease-in-out;
}

.arrow {
  width: 31px;
  height: 31px;
  border: 1px solid var(--color_21);
  background-color: var(--color_19);
  color: var(--color_21);
  position: relative;
}

.arrow:hover {
  background-color: var(--color_3);
  border-color: var(--color_3);
  cursor: pointer;
}

.right-arrow::after {
  content: "";
  border: solid var(--color_21);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  left: 8px;
  top: 10px;
}

.left-arrow::after {
  content: "";
  border: solid var(--color_21);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 13px;
  top: 10px;
}

.right-arrow:hover::after,
.left-arrow:hover::after {
  border: solid var(--color_1);
  border-width: 0 2px 2px 0;
}

/* ------------------Footer------------------*/

.footer-section {
  background-color: var(--color_14);
  padding: 48px 0px;
}

.footer-text {
  color: var(--color_13);
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
